body.login-page, #create-account-page {
    background-image: url(background.jpg);
}

body {
    background-image: url(background.jpg);
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 20px;
}

.headers {
    background-color: rgba(128, 128, 128, 0.774); text-align: center; font-size: 30px;
}

#login-form-client, #login-form-SP {
    background-color: rgba(255, 255, 255, 0.38); width: 325px; margin: auto; padding: 10px; position: absolute; top: 30%; left: 43%; padding: 20px; height: 155px;
}

#createaccount-client-button {
    border-radius: 100px; background-color: rgb(210, 238, 144); color: black; padding: 10px; width: 125px; position: relative; left: 50px; text-decoration: none;
}

#createaccount-SP-button {
    border-radius: 100px; background-color: rgb(210, 238, 144); color: black; padding: 10px; width: 125px; position: relative; left: 50px; text-decoration: none;
}

#submitbutton-login-client {
    border-radius: 100px; background-color: lightgreen; color: black; padding: 10px; width: 125px;
}

#submitbutton-login-SP {
    border-radius: 100px; background-color: lightgreen; color: black; padding: 10px; width: 125px;
}

footer {
    color: white;
}

#Client-username:hover, #SP-username:hover, #Client-password:hover, #SP-password:hover { background-color: rgb(239, 234, 234);
}

#Client-password, #SP-password {
    position: relative; left: 5px;
}

#create-account-form-client {
    background-color: rgba(255, 255, 255, 0.38); width: 400px; margin: auto; padding: 10px; position: absolute; top: 30%; left: 43%; padding: 20px; height: 170px;
}

#create-account-form-SP{
    background-color: rgba(255, 255, 255, 0.38); width: 400px; margin: auto; padding: 10px; position: absolute; top: 30%; left: 43%; padding: 20px; height: 130px;
}

#client-create-username, #SP-create-username {
    position: relative; left: 30px;
}

#client-create-password, #SP-create-password{
    position: relative; left:36px;
}

#client-create-name, #SP-create-name {
    position:relative; left: 63px
}

#client-create-username:hover, #client-create-password:hover, #client-create-name:hover, #client-create-email:hover, #SP-create-username:hover, #SP-create-password:hover, #SP-create-name:hover, #SP-create-email:hover, #visa:hover, #mastercard:hover, #amex:hover {
    background-color: rgb(239, 234, 234);
}

#client-create-account-submit-button{
    border-radius: 100px; background-color: lightgreen; color: black; padding: 10px; width: 125px;
}

#SP-create-account-submit-button {
    border-radius: 100px; background-color: lightgreen; color: black; padding: 10px; width: 125px; position: relative ;bottom: -10px;
}

#client-create-account-reset-button{
    border-radius: 100px; background-color: rgb(210, 238, 144); color: black; padding: 10px; width: 125px; position: relative; left: 125px;
}

#SP-create-account-reset-button {
    border-radius: 100px; background-color: rgb(210, 238, 144); color: black; padding: 10px; width: 125px; position: relative; left: 125px; bottom: -10px;
}

/*Layla's styling*/
.manageacctmenu {
    list-style-type: none;
    margin: 0;
    margin-top: 1%;
    padding: 0;
    width: 20%;
    position: fixed;
    overflow: auto;
}

.manageacctmenu a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

.manageacctmenu a.active {
    background-color: #325B91;
    color: white;
}

.manageacctmenu a:hover:not(.active) {
    background-color: rgb(210, 238, 144);
    color: black;
}

.maindiv {
    margin: 0px;
    height: 100%;
}

.subdiv1 {
    background-color: #AFCCF1;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    float: left;
}

.subdiv2 {
    background-color: rgba(255, 255, 255, 0.38);
    width: 400px;
    margin: auto;
    padding: 10px;
    position: absolute;
    top: 30%;
    left: 43%;
    padding: 20px;
    height: 170px;
    position: relative;
    left: 30px;
}

#psswtitle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 2%;
    margin-bottom: 6%;
    text-align: left;
    position: relative;
    left: 30px;
    font-size: 23pt;
}

#pssw {
    position: relative;
    left: 30px;
}

#oldpassword {
    float: right;
    margin-right: 30px;
}

#newpassword {
    float: right;
    margin-right: 30px;
}

#submitpssw {
    border-radius: 100px;
    background-color: lightgreen;
    color: black;
    padding: 10px;
    width: 125px;
    position: relative;
    bottom: -22px;
}

#submitpssw:hover {
    background-color: #329161;
    color: black;
}
/* end Layla's styling*/
