/*
Site-Wide Styles
*/

* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 20px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

.primaryText{
color: darkblue;
size: 20px;
}

.secondaryText{
color: grey;
size:10px;
}

.bubbleStyle{
background-color: rgb(249, 249, 249); 
padding: 10px; border-radius: 10px; 
box-shadow: 10px 10px rgba(61, 61, 67, 0.744); 
}

#popup-window {
  background-color: rgb(249, 249, 249);
  padding: 10px;
  border-radius: 10px;
}

.blueBackground {
background-image: url(https://static.vecteezy.com/system/resources/previews/007/621/325/original/blue-wave-abstract-background-web-background-blue-texture-banner-design-creative-cover-design-backdrop-minimal-background-illustration-vector.jpg); 
background-color: lightblue;
}

.heading {
padding: 20px;
text-align: center;
background: #1abc9c;
color: white;
font-size: 80px;
}

#homescreenHeader {
  text-decoration: none;
}

.anytable{
width: 100%;
border: 1px solid;
text-align: left;
padding: 5px; 
}

tr:hover {background-color:#1abc9c;}
table { background-color: #93c093; }
th { background-color: #4CAF50; }



.inputBox:hover{
  background-color: rgb(236, 236, 236);
}

.radioStyling{
  transform: scale(2);
}

.radioStyling:hover{
  cursor: pointer;
}
/*
Home page exlusive styles
*/

/*
Create Account Page Exclusive Styles
*/

#CAlogo{
  display: block;
  margin: auto;
}

#createaccount-button {
  border-radius: 100px; 
  background-color: rgb(210, 238, 144); 
  color: black; 
  padding: 10px; 
  width: 125px; 
  position: relative; 
  left: 50px; 
  text-decoration: none;
}

#create-account-form{
width: 400px; 
margin-left: auto;
margin-right: auto;
margin-top: 40px;
padding: 20px; 
height: 510px; 
}

#create-username {
position: relative; left: 45px;
}

#create-password{
position: relative; left:51px;
}

#create-name {
position:relative; left: 78px
}

#create-email{
  position: relative; left:15px
}

#create-address{
  position: relative; left: 8px;
}

#create-account-submit-button {
border-radius: 100px; 
background-color: lightgreen; 
color: black; 
padding: 10px; 
width: 125px; 
position: relative;
bottom: -50px;
box-shadow: 5px 5px rgba(61, 61, 67, 0.744)
}

#create-account-submit-button:hover{
  background-color: #329161;
  color: black;
  cursor: pointer;
}

#create-account-reset-button{
border-radius: 100px; 
background-color: #d2ee90; 
color: black; padding: 10px; 
width: 125px; 
position: relative; 
bottom: -4px;
box-shadow: 5px 5px rgba(61, 61, 67, 0.744)
}
#create-account-reset-button:hover{
  background-color: #93c093;
  cursor: pointer;
}

.moveSP{
  position: relative;
  left: 90px;
}
/*
* Serial Management - Client Exclusive Styles
*/

#clientHS-Manage_Redeem-button {
  border-radius: 100px;
  border: none; 
  background-color: lightgreen;
  cursor: pointer;  
  position: relative;
  left:45%;
  padding: 10px; 
  width: 150px; 
  box-shadow: 5px 5px rgba(61, 61, 67, 0.744)
}
  
#client-logout-button{
  border-radius: 100px; 
  background-color: #d2ee90; 
  color: black; 
  padding: 10px; 
  top:99%;
  width:150px;
  position: absolute;
  cursor: pointer;
  box-shadow: 5px 5px rgba(61, 61, 67, 0.744)
  }

  #clientHS-table{
    width: 1100px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 20px; 
    height: 220px; 
    }

  /*
* Serial Number Page Exclusive Styles
*/

#licence-Number-Generator-button {
  border-radius: 100px;
  border: none; 
  background-color: lightgreen;
  cursor: pointer;  
  position: relative;
  left:40%;
  padding: 10px; 
  width: 300px; 
  box-shadow: 5px 5px rgba(61, 61, 67, 0.744)
}


#tb{
  left:41%;
  position: relative;
  border-radius: 100px;
  border: none; 
  display: inline-block;
  width: 250px; 
  padding: 10px; 
}


/*
* Serial Management- SP Excluvive Styles
*/
.heading2 {
  height:20px;
  padding: 20px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
  position:relative;
  }

#SPtHS-table{
  width: 1100px; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 20px; 
  height: 220px; 
  }

 #SerialNumber-table{
  width: 400px; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 20px; 
  height: 220px; 
  }

  #SNTable{
    color:white;
    }


/*
* Account Management Exclusive Styles
*/

.manageacctmenu {
  list-style-type: none;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  width: 150px;
  overflow: auto;
}

.manageacctmenu a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

.manageacctmenu a.active {
  background-color: #123BB4;
  color: white;
}

.manageacctmenu a:hover:not(.active) {
  background-color: #d2ee90;
  color: black;
}

.maindiv {
  margin: 0px;
  height: 100%;
}

.subdiv1 {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  float: left;
}

#passworddiv {
  position: relative;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  top: 150px;
  padding: 20px;
  height: 190px;
}

#addressdiv {
  position: relative;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  top: 150px;
  padding: 20px;
  height: 270px;
}

#namediv {
  position: relative;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  top: 150px;
  padding: 20px;
  height: 225px;
}

#paymentdiv {
  position: relative;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  top: 150px;
  padding: 20px;
  height: 260px;
}

#deletediv {
  position: relative;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  top: 150px;
  padding: 20px;
  height: 155px;
}

#codediv {
  position: relative;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  top: 150px;
  padding: 20px;
  height: 155px;
}

#psswtitle,
#addresstitle,
#nametitle,
#paymenttitle,
#deletetitle {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 2%;
  margin-bottom: 6%;
  text-align: left;
  position: relative;
  left: 30px;
  font-size: 23pt;
}

#pssw,
#newaddress,
#entername,
#newname,
#enterpayment,
#newpayment,
#code,
#codeinput,
#currentpassword,
#deleteconfirmation {
  position: relative;
  left: 30px;
}

#deleteconfirmation {
  font-size: 10pt;
  font-style: italic;
}

#oldpassword,
#newpassword {
  float: right;
  margin-right: 30px;
}

.headers {
  background-color: rgba(128, 128, 128, 0.774);
  text-align: center;
  font-size: 30px;
}

#submitpssw {
  border-radius: 100px;
  background-color: lightgreen;
  color: black;
  padding: 10px;
  width: 125px;
  position: relative;
  bottom: -42px;
  left: 259px;
  box-shadow: 5px 5px rgba(61, 61, 67, 0.744)
}

#submitaddress {
  border-radius: 100px;
  background-color: lightgreen;
  color: black;
  padding: 10px;
  width: 125px;
  position: relative;
  bottom: -28px;
  left: 259px;
  box-shadow: 5px 5px rgba(61, 61, 67, 0.744)
}

#submitname {
  border-radius: 100px;
  background-color: lightgreen;
  color: black;
  padding: 10px;
  width: 125px;
  position: relative;
  bottom: -30px;
  left: 259px;
  box-shadow: 5px 5px rgba(61, 61, 67, 0.744)
}

#submitpayment {
  border-radius: 100px;
  background-color: lightgreen;
  color: black;
  padding: 10px;
  width: 125px;
  position: relative;
  bottom: -24px;
  left: 259px;
  box-shadow: 5px 5px rgba(61, 61, 67, 0.744)
}

#submitdelete {
  border-radius: 100px;
  background-color: lightgreen;
  color: black;
  padding: 10px;
  width: 125px;
  position: relative;
  bottom: -7px;
  left: 259px;
  box-shadow: 5px 5px rgba(61, 61, 67, 0.744)
}

#submitcode {
  border-radius: 100px;
  background-color: lightgreen;
  color: black;
  padding: 10px;
  width: 125px;
  position: relative;
  bottom: -80px;
  left: 0px;
  box-shadow: 5px 5px rgba(61, 61, 67, 0.744)
}

#submitpssw:hover,
#submitaddress:hover,
#submitname:hover,
#submitpayment:hover,
#submitdelete:hover,
#submitcode:hover,
#cancelButton:hover {
  background-color: #329161;
  color: black;
  cursor: pointer;
}

#confirmButton:hover {
  background-color: #983026;
  color: black;
  cursor: pointer;
}

#oldaddresstag,
#streetaddress,
#oldaddress,
#oldnametag,
#oldname,
#oldpaymentmethodtag,
#oldpaymentmethod {
  text-align: left;
  position: relative;
  left: 30px;
}

#newpayment {
  width: 170px;
}

#backarrow {
  text-decoration: none;
  position: fixed;
  left: 0;
  bottom: 20px;
  margin-left: 10px;
  font-weight: 1000;
  color: #d2ee90;
}

#popup-window {
  position: fixed;
  width: 300px;
  height: 170px;
  background: black;
  border: 2px solid black;
  padding: 10px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: none;
  box-shadow: 0 1px 1px 600px rgba(61, 61, 67, 0.744)
}

#confirmQuestion {
  color: white;
}

#deleteExplanation {
  color: white;
}

#confirmButton {
  border-radius: 100px;
  background-color: #EB7165;
  color: black;
  padding: 10px;
  width: 125px;
  position: relative;
  bottom: -8px;
}

#cancelButton {
  border-radius: 100px;
  background-color: lightgreen;
  color: black;
  padding: 10px;
  width: 125px;
  position: relative;
  right: -45px;
  bottom: -8px;
}

#backarrowtext:hover {
  color: black;
  background-color: #d2ee90;
}

#backarrowtext {
  border-width: 1px;
  border-style: solid;
  border-color: #d2ee90;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 3px;
}

/*
* Account Management Exclusive Styles
*/

/*
* Home Page Exclusive Styles
*/

#submitButtonHome {
  border-radius: 100px; 
  background-color: lightgreen; 
  color: black; 
  padding: 10px; 
  width: 125px; 
  position: relative;
  right:85px;
  bottom: -20px; 
  box-shadow: 5px 5px rgba(61, 61, 67, 0.744)  
}

#submitButtonHome:hover{
  background-color: #329161;
  color: black;
  cursor: pointer;
}

#createButtonHome {
  border-radius: 100px; 
  background-color: #d2ee90; 
  color: black; 
  padding: 10px; 
  width: 125px; 
  position: relative;
  top:-25px;
  right:-80px;
  box-shadow: 5px 5px rgba(61, 61, 67, 0.744)  
}

#createButtonHome:hover{
  background-color: #83925E;
  color: black;
  cursor: pointer;
}
